<p id="notice"><%= notice %></p>

<h1>Spam Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spam_types.each do |spam_type| %>
      <tr>
        <td><%= link_to spam_type.name, spam_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spam Type', new_spam_type_path %>
