<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @victim.name %>
</p>

<p>
  <strong>Real email:</strong>
  <%= mail_to @victim.real_email %>
</p>

<%= link_to 'Back', victims_path %>
