<p id="notice"><%= notice %></p>

<h1>Spam Emails</h1>

<table>
  <thead>
    <tr>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spam_emails.each do |spam_email| %>
      <tr>
        <td><%= link_to spam_email.contents, spam_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spam Email', new_spam_email_path %>
